
body {
    margin: 0;
}

#canvas {
    display: block;
    background: aqua;
}

#eraser {
    position: absolute; 
    top: 40px;
    left: 10px;
}

#brush {
    position: absolute; 
    top: 10px;
    left: 10px;
}