* { margin: 0; padding: 0;}
body {
    overflow: hidden;
}
ul, ol { list-style: none;}

.actions {
    position: fixed;
    top: 10px;
    left: 10px;
}

.actions svg {
    margin: 0 5px;
    width: 1.5em;
    height: 1.5em;
    transition: all 0.5s;
}

.actions svg.active {
    fill: red;
    transform: scale(1.2);
}

.color {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.color li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    box-shadow: 0, 0, 3px, rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.color li.black {
    background: black;
}
.color li.red {
    background: red;
}
.color li.yellow {
    background: yellow;
}
.color li.blue {
    background: blue;
}

.color li.active {
    transform: scale(1.3);
}

.brushSize {
    margin-top: 20px;
}

.brushSize li.thin {
    margin: 10px 0;
    width: 30px;
    height: 5px;
    background: black;
}

.brushSize li.thick {
    width: 30px;
    height: 10px;
    background: black;
}

.brushSize li.active {
    border: 2px solid red;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }